---
layout: home
header:
  image: /assets/img/home-header.jpg
tagline: > # this means to ignore newlines until "repository:"
  Life is not divided into semesters.
  You don’t get summers off and very few employers are interested in helping you find yourself.
  Do that on your own time.
  --- Bill Gates
excerpt: >
  Life is not divided into semesters.
  You don’t get summers off and very few employers are interested in helping you find yourself.
  Do that on your own time.
  --- Bill Gates
ref: home
---

{% include paginator-posts.html lang=page.lang category="vue" max_posts=3 max_post_tags=3 %}

{% if paginator.total_pages > 1 %}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  {% if paginator.previous_page %}
    <a class="pagination-previous" href="{{ paginator.previous_page_path | relative_url }}">Previous</a>
  {% else %}
    <a class="pagination-previous" disabled>Previous</a>
  {% endif %}

  {% if paginator.next_page %}
    <a class="pagination-next" href="{{ paginator.next_page_path | relative_url }}">Next page</a>
  {% else %}
    <a class="pagination-next" disabled>Next</a>
  {% endif %}

  <ul class="pagination-list">
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <li><a class="pagination-link is-current">{{ page }}</a></li>
      {% elsif page == 1 %}
        <li><a class="pagination-link" href="/">{{ page }}</a></li>
      {% else %}
        <li><a class="pagination-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
{% endif %}