<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include header.html %}

		{% if page.layout == 'home' %}
			{% assign page-tagline = page.tagline | default: site.description | escape %}
			{% assign header-padding = "80px" %}
			{% assign header-padding-bottom = "40px" %}
		{% else %}
			{% assign header-padding = "40px" %}
			{% assign header-padding-bottom = "20px" %}
		{% endif %}

		{% if page.layout == 'page' or page.layout == 'category' %}
			{% assign page-tagline = page.tagline | escape %}
		{% endif %}

		{% if page.layout == 'post' %}
			{% assign page-tagline = page.tagline | default: page.repository.project_tagline | escape	%}
		{% endif %}

		<section class="page-header" style="padding-top: {{ header-padding }}; padding-bottom: {{ header-padding-bottom }}; background: linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.0)), url('{{ site.baseurl }}{{ page.header.image | default: site.header.image }}') center center repeat;">
			<h1 class="project-name">{{ header_title }}</h1>
			<h2 class="project-tagline">{{ page-tagline }}</h2>
		</section>

		<section class="main-content">
			{{ content }}
			{% include footer.html %}
		</section>
	</body>
</html>
